/*.main{
	flex-basis: 32%;	
}*/

.mother-wrapper , .mother-wrapper1{
	color : white;
	display:flex;
	//background: black;
//flex-basis: 32%;	
	//align-items: baseline;
	flex-wrap: auto ;
	/*text-align: center;
	grid-gap: 2px;
	//grid-column-gap: 2px;
	grid-template-columns: repeat(3,1fr);*/
/*//align-items: baseline;*/
justify-content: space-between;

}

.imag{
	/*width: 250px;
	height: 150px;*/
	flex : 1 1 0;
	align-self: center;
	/*justify-content: center;*/
}
.left-box ,.middle-box, .right-box, .left-box1 ,.middle-box1, .right-box1{
	padding: 10px;
	box-sizing: border-box;
	flex: 0 0 33%;
	
/*align-items: baseline;*/
}

.right-box1 {
	background: blue;
}

.middle-box1{
	background: silver;
}
.left-box1{
	background: gray;
}

.left-box  {
	background: blue;
	/*background: url("img/p1.jpeg") no-repeat center;
	width: 300px;
	height: 250px;
	//flex: 1 1 0;
	width:700px;*/

}
.middle-box{
	background: green;
	/*//flex : 1 5 0;*/
	
	/*width:500px;
	height: 8rem;*/
}
.right-box{
	background: gray;
	//flex: 1 4 0;
	
/*	width:500px;
	height: 6rem;
}*/
}
@media screen and (max-width: 660px){
	.mother-wrapper, .mother-wrapper1{
/*display: none;*/
		flex-flow : column;
		flex: 1 1 0;
	}
}
/*@media screen and (max-width:768px){
	.mother-wrapper, .mother-wrapper1{
display: none;
		flex-flow : column;
		flex: 1 1 0;
	}
}*/